.mainDiv {
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

body{
	background-color: #D2B48C;
	font-family: cursive;
}

/*
	HEADER
*/

.header{
	position: relative;
	height: 150px;
	background-color: #DAA520;
	margin-bottom: 1%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.logo{
	height: 100%;
	width: 20%;
	justify-content: center;
	display: flex;
	align-items: center;
}

.logoImg{
	border-radius: 50%;
	max-width: 90%;
	max-height: 90%;
}

.heading{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading h1{
	margin: 0 auto;
}

.search{
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#searchDrink{
	max-width: 90%;
	display: block;
	height: 19%;
	padding: .47rem .75rem;
	font-size: .8125rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#searchButton {
	border-color: black;
	color: black;
	background-color: whitesmoke;
	width: 60;
	height: 25;
	max-width: 50%;
	max-height: 50%;
	border-width: 1px;
	border-radius: 5px;
}

#searchButton:hover {
	cursor: pointer;
	background-color: black;
	color: whitesmoke;
	border-color: whitesmoke;
}

/*
	Menu
*/

.menu{
	height: 70;
	background-color: #DAA520;
	border-radius: 10px;
	margin-bottom: 1%;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.menu ul li{
	border: solid white;
}

.menu ul .item{
	user-select: none;
	float: left;
	margin-left: 3%;
	margin-right: 3%;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 10px;
}

.menu ul .active{
	background-color: #111;
}

.menu ul .item:hover {
	background-color: #111;
	cursor: pointer;
}


/*
	Content
*/

.content{
	background-color: #DAA520;
	border-radius: 10px;
	margin-bottom: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.childContent{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

/*
	Footer
*/

.Footer{
	position: relative;
	background-color: #DAA520;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Footer h4{
	display: inline-block;
	margin: 0 auto;
}

.Footer .socialMedia{
	position: absolute;
	right: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Footer .socialMedia img{
	max-height: 35px;
	margin: 5px;
}

